.Age2-Body {
    background-image: linear-gradient(to bottom, #264e8b, #007bc1, #00a7c7, #00cd90, #2ceb12);
}
.Age2-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}
.age2-title {
    font-size: 250%;
    text-decoration: underline rgb(68, 63, 63);
    -webkit-animation: bounce-in-right 1.2s 0.4s both;
    animation: bounce-in-right 1.2s 0.4s both;
}
@media screen and (min-width: 1600px) {
    .age2-title {
        font-size: 270%;
    }
}
.Age2-About {
    text-align: center;
    font-size: 130%;
}
@media screen and (min-width: 1600px) {
    .Age2-About {
        font-size: 140%;
    }
}
@media screen and (max-width: 1200px) {
    .Age2-About {
        font-size: 120%;
    }
}
@media screen and (max-width: 450px) {
    .Age2-About {
        font-size: 100%;
    }
}
.Age2-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 2px;
}
@media screen and (max-width: 767px) {
    .Age2-Pic1 {
        max-width: 60%;
    }
}
@media screen and (max-width: 450px) {
    .Age2-Pic1 {
        max-width: 65%;
    }
}
.Age2-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 2px;
}
@media screen and (max-width: 767px) {
    .Age2-Pic2 {
        max-width: 60%;
    }
}
@media screen and (max-width: 450px) {
    .Age2-Pic2 {
        max-width: 65%;
    }
}
.Age2-Pic3 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 90.2%;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
@media screen and (max-width: 767px) {
    .Age2-Pic3 {
        max-width: 100%;
    }
}
.age2-list1 {
    font-size: 120%;
    padding-right: 4vw;
}
@media screen and (min-width: 1600px) {
    .age2-list1 {
        font-size: 150%;
    }
}
@media screen and (max-width: 1350px) {
    .age2-list1 {
        font-size: 110%;
    }
}
@media screen and (max-width: 1225px) {
    .age2-list1 {
        font-size: 100%;
    }
}
@media screen and (max-width: 1125px) {
    .age2-list1 {
        font-size: 90%;
    }
}
@media screen and (max-width: 1000px) {
    .age2-list1 {
        font-size: 80%;
    }
}
@media screen and (max-width: 900px) {
    .age2-list1 {
        font-size: 70%;
    }
}
@media screen and (max-width: 767px) {
    .age2-list1 {
        font-size: 110%;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 450px) {
    .age2-list1 {
        font-size: 95%;
    }
}
.age2-list2 {
    font-size: 120%;
    margin-top: 6vh;
    padding-left: 4vw;
}
@media screen and (min-width: 1600px) {
    .age2-list2 {
        font-size: 150%;
        margin-top: 2vh;
    }
}
@media screen and (max-width: 1350px) {
    .age2-list2 {
        font-size: 110%;
        margin-top: 1vh;
    }
}
@media screen and (max-width: 1225px) {
    .age2-list2 {
        font-size: 100%;
        margin-top: 2vh;
    }
}
@media screen and (max-width: 1125px) {
    .age2-list2 {
        font-size: 90%;
        margin-top: 2vh;
    }
}
@media screen and (max-width: 1000px) {
    .age2-list2 {
        font-size: 80%;
    }
}
@media screen and (max-width: 900px) {
    .age2-list2 {
        font-size: 70%;
    }
}
@media screen and (max-width: 767px) {
    .age2-list2 {
        font-size: 110%;
        margin-top: 4vh;
        margin-bottom: 2vh;
    }
}
@media screen and (max-width: 450px) {
    .age2-list2 {
        font-size: 95%;
    }
}