.contact-title {
    -webkit-animation: bounce-in-bck 1.2s 0.4s both;
    animation: bounce-in-bck 1.2s 0.4s both;
}
@media screen and (min-width: 1600px) {
    .contact-title {
        font-size: 270%;
    }
}
.formTitle {
    color: #ffffff;
    margin-bottom: 3vh;
    font-size: 2.2vw;
}
@media screen and (max-width: 900px) {
    .formTitle {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 767px) {
    .formTitle {
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 600px) {
    .formTitle {
        font-size: 4vw;
    }
}
@media screen and (max-width: 500px) {
    .formTitle {
        font-size: 4.5vw;
    }
}
@media screen and (max-width: 420px) {
    .formTitle {
        font-size: 5vw;
    }
}
.myForm {
    text-align: center;
    background-image: linear-gradient(to bottom, #f06673, #f15866, #f14a58, #f0394b, #ef233c);
    padding: 5vh;
    display: block;
    height: auto;
    margin: auto;
    min-width: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 0px black;
}
@media screen and (max-width: 520px) {
    .myForm {
        min-width: 100%;
    }
}
.myInput {
    margin-bottom: 2vh;
    display: block;
    width: 70%;
    height: 6vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
}
.messageInput {
    display: block;
    width: 70%;
    height: 20vh;
    margin-bottom: 2vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
}
@media screen and (max-width: 1000px) {
    .myInput,
    .messageInput {
        width: 80%;
    }
}
@media screen and (max-width: 900px) {
    .myInput,
    .messageInput {
        width: 90%;
    }
}
@media screen and (max-width: 420px) {
    .myInput,
    .messageInput {
        width: 100%;
    }
}
.myInput:focus,
.myInput:active,
.messageInput:focus,
.messageInput:active {
    outline: none;
    background-color: #ffffff;
    -webkit-transform: scale(1.015);
    -ms-transform: scale(1.015);
    transform: scale(1.015);
}
.myInput:focus::-webkit-input-placeholder { color:transparent; }
.myInput:focus:-moz-placeholder { color:transparent; }
.myInput:focus::-moz-placeholder { color:transparent; }
.myInput:focus:-ms-input-placeholder { color:transparent; }
.messageInput:focus::-webkit-input-placeholder { color:transparent; }
.messageInput:focus:-moz-placeholder { color:transparent; }
.messageInput:focus::-moz-placeholder { color:transparent; }
.messageInput:focus:-ms-input-placeholder { color:transparent; }
.contact-text {
    color: #252323;
    font-size: 175%;
}
@media screen and (min-width: 1700px) {
    .contact-text {
        font-size: 190%;
    }
}
@media screen and (max-width: 1141px) {
    .contact-text {
        font-size: 165%;
    }
}
@media screen and (max-width: 1079px) {
    .contact-text {
        font-size: 150%;
    }
}
@media screen and (max-width: 767px) {
    .contact-text {
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}
@media screen and (max-width: 420px) {
    .contact-text {
        font-size: 125%;
    }
}
.contact-link {
    color: #252323;
}
.contact-link:hover {
    color: #3B5998;
}
.myMap {
    height: 61.5% !important;
    width: 93% !important;
    border: 1px solid black;
    box-shadow: 2px 2px 7px 0px black;
}
@media screen and (min-width: 1600px) {
    .myMap {
        height: 65% !important;
        width: 95% !important;
    }
}
@media screen and (max-width: 767px) {
    .myMap {
        height: 150% !important;
        width: 95% !important;
        margin-bottom: 6vh !important;
    }
}
@media screen and (max-width: 500px) {
    .myMap {
        height: 120% !important;
        width: 92% !important;
        margin-bottom: 6vh !important;
    }
}