.clock {
    max-width: 25%;
    float: left;
    display: block;
    height: auto;
}

.ages {
    max-width: 25%;
    float: right;
    display: block;
    height: auto;
}

.sandwich {
    max-width: 25%;
    float: left;
    display: block;
    height: auto;
}

@media screen and (max-width: 992px) {
    .clock,
    .ages,
    .sandwich {
        max-width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .clock,
    .ages,
    .sandwich {
        max-width: 70%;
    }
}