.clock {
    max-width: 25%;
    float: left;
    display: block;
    height: auto;
}

.ages {
    max-width: 25%;
    float: right;
    display: block;
    height: auto;
}

.sandwich {
    max-width: 25%;
    float: left;
    display: block;
    height: auto;
}

#motto {
    background-color: rgb(185, 29, 136);
}

.motto-logo {
    max-width: 10vw;
    display: block;
    height: auto;
}

@media screen and (max-width: 992px) {
    .clock,
    .ages,
    .sandwich {
        max-width: 40%;
    }
    .management-message {
        text-align: center;
        padding-bottom: 4vh;
    }
}

@media screen and (max-width: 768px) {
    .clock,
    .ages,
    .sandwich {
        max-width: 70%;
    }
    .motto-logo {
        max-width: 15vw;
    }
}

@media screen and (max-width: 576px) {
    .motto-logo {
        max-width: 25vw;
    }
}