
/* navbar styling */
.myNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 3px 1.8px black;
}
/* navbar styling */


/* home page */
.Home-Main {
    margin-bottom: 46vh;
    background-color: #ffffff;
}

@media screen and (min-width: 1600px) {
    .Home-Main {
        margin-bottom: 50vh;
    }
  }

  @media screen and (max-width: 1380px) {
    .Home-Main {
        margin-bottom: 43vh;
    }
  }

@media screen and (max-width: 1000px) {
    .Home-Main {
        margin-bottom: 52vh;
    }
  }

  @media screen and (max-width: 767px) {
    .Home-Main {
        margin-bottom: 85vh;
    }
  }

  @media screen and (max-width: 700px) {
    .Home-Main {
        margin-bottom: 80vh;
    }
  }

  @media screen and (max-width: 600px) {
    .Home-Main {
        margin-bottom: 75vh;
    }
  }

  @media screen and (max-width: 500px) {
    .Home-Main {
        margin-bottom: 68vh;
    }
  }

  @media screen and (max-width: 440px) {
    .Home-Main {
        margin-bottom: 62vh;
    }
  }

  @media screen and (max-width: 393px) {
    .Home-Main {
        margin-bottom: 57vh;
    }
  }

  @media screen and (max-width: 322px) {
    .Home-Main {
        margin-bottom: 65vh;
    }
  }

.home-section {
    background-image: linear-gradient(to top, #ef233c, #f13548, #f24353, #f3505e, #f45b69);
    padding-top: 11vh;
    padding-bottom: 6vh;
    margin-bottom: 4vh;
}

@media screen and (min-width: 1600px) {
    .home-section {
        padding-top: 9vh;
    }
  }

.home-quote {
    text-align: center;
    font-size: 180%;
    margin-bottom: 4vh;
    color: #ffffff;
}

@media screen and (min-width: 1600px) {
    .home-quote {
        font-size: 220%;
    }
  }

.quoteLeft {
    font-size: 105%;
    margin-right: 0.2%;
}

.quoteRight {
    font-size: 105%;
    margin-left: 0.2%;
}
  /* home page */


/* carousel styling */
.myCarousel {
    border: 1px solid black;
    border-radius: 1px;
    display: block;
    height: auto;
    margin: auto;
    width: 80%;
    box-shadow: 4px 4px 15px 0px black;
}

@media screen and (max-width: 550px) {
    .myCarousel {
        width: 90%;
    }
  }

  @media screen and (max-width: 400px) {
    .myCarousel {
        width: 95%;
    }
  }
/* carousel styling */


/* home about section */
.about-title {
    text-align: center;
}

@media screen and (min-width: 1600px) {
    .about-title {
        font-size: 250%;
    }
  }

.clock,
.ages,
.sandwich {
    float: left;
    display: block;
    height: auto;
}

.clock {
    max-width: 35%;
}

.ages {
    max-width: 42%;
}

.sandwich {
    max-width: 35%;
}

@media screen and (max-width: 767px) {
    .clock,
    .ages,
    .sandwich {
        margin-left: 7vw;
    }
  }

  @media screen and (max-width: 500px) {
    .clock,
    .ages,
    .sandwich {
        margin-left: 3vw;
    }
  }

  @media screen and (max-width: 400px) {
    .clock,
    .ages,
    .sandwich {
        margin: auto;
    }
  }

.about-column {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.center-column {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

@media screen and (max-width: 390px) {
    .aboutPar {
        font-size: 3.8vw;
    }
  }

  @media screen and (max-width: 340px) {
    .aboutPar {
        margin-left: 38vw;
    }
  }

@media screen and (max-width: 767px) {
    .center-column {
        border: none;
    }
  }
/* home about section */


/* home director section */
.director-container {
    color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./Photos&Fonts/myGeometry.png");
    height: auto;
    width: 100%;
    padding: 8vh 6vw 8vh 6vw;
}

.director-row {
    background-color: rgba(75, 19, 57, 0.8);
    padding: 3% 3% 4% 3%;
    border-radius: 15px;
}

.director-title {
    text-align: center;
    margin-bottom: 5vh;
}

.director-photo {
    display: block;
    height: auto;
    margin: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 7px 0px black;
}

@media screen and (max-width: 440px) {
    .director-photo {
        max-width: 90%;
    }
  }

  @media screen and (max-width: 385px) {
    .director-photo {
        max-width: 100%;
    }
  }

.director-text {
    text-align: center;
    font-size: 120%;
    margin-top: 4vh;
}

@media screen and (min-width: 1600px) {
    .director-text {
        font-size: 145%;
        margin-top: 2vh;
    }
  }

@media screen and (max-width: 440px) {
    .director-text {
        font-size: 110%;
    }
  }

  @media screen and (max-width: 385px) {
    .director-text {
        font-size: 100%;
    }
  }
/* home director section */


/* home testimonials section */
.testimonial-title {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.testimonial-column {
    text-align: center;
}
/* testimonial carousel */
.test-container {
    background-color: #5606a1;
    color: white;
    margin-top: 7vh;
    padding-bottom: 5vh;
    border-radius: 9px;
    box-shadow: 2px 2px 9px 0px black;
    min-width: 92%;
}

.myCarousel2 {
    background-color: #440381;
    display: block;
    min-height: 40vh;
    max-width: 70%;
    margin: auto;
    margin-bottom: 4vh;
    padding: 3vh 4vw 0vh 4vw;
    border-radius: 12px;
}

@media screen and (min-width: 1600px) {
    .myCarousel2 {
        font-size: 120%;
    }
  }

@media screen and (max-width: 930px) {
    .myCarousel2 {
        max-width: 85%;
    }
  }

  @media screen and (max-width: 575px) {
    .myCarousel2 {
        max-width: 90%;
    }
  }
/* testimonial carousel */
/* home testimonials section */


/* footer styling */
.Logo {
    display: block;
    height: auto;
    max-width: 32%;
    float: right;
}

@media screen and (max-width: 1000px) {
    .Logo {
        max-width: 40%;
        margin-top: 4.5vh;
    }
  }

  @media screen and (max-width: 890px) {
    .Logo {
        max-width: 48%;
        margin-top: 4vh;
    }
  }

  @media screen and (max-width: 767px) {
    .Logo {
        max-width: 35%;
        margin: auto;
        float: none;
    }
    .footer-text {
        text-align: center;
    }
  }

.footer-text {
    font-size: 150%;
    margin-top: 5vh;
    color: #ffffff;
}

@media screen and (min-width: 1600px) {
    .footer-text {
        font-size: 180%;
        margin-top: 6vh;
    }
  }

@media screen and (max-width: 502px) {
    .footer-text {
        font-size: 130%;
    }
}

@media screen and (max-width: 438px) {
    .footer-text {
        font-size: 115%;
    }
}

@media screen and (max-width: 390px) {
    .footer-text {
        font-size: 105%;
    }
}

.footer-link {
    color: #ffffff;
}

.footer-link:hover {
    color: rgb(201, 193, 193);
}

.myIcon {
    margin-right: 1%;
}

.footer-container {
    padding-top: 6vh;
    background-image: radial-gradient(circle, #ee6773, #ef5966, #f04a59, #f0394b, #ef233c);
    position: fixed;
    bottom:0;
    left:0;
	z-index:-1;
}

.copyright {
    text-align: right;
    margin-top: 2vh;
    font-size: 0.85vw;
    color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 850px) {
    .copyright {
        font-size: 1vw;
    }
}

@media screen and (max-width: 767px) {
    .copyright {
        text-align: center;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 420px) {
    .copyright {
        text-align: center;
        font-size: 2.2vw;
    }
}
/* footer styling */


/* about page */
.about-body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./Photos&Fonts/myGeometry.png");
}

.about-main {
    background-color: rgba(75, 19, 57, 0.9);
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-top: 11vh;
    padding-bottom: 8vh;
    color: #ffffff;
}

.about-title {
    font-size: 250%;
    margin-bottom: 4vh;
}

.about-subTitle {
    font-size: 250%;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

@media screen and (max-width: 420px) {
    .about-title,
    .about-subTitle {
        font-size: 180%;
    }
}

@media screen and (min-width: 1600px) {
    .about-title,
    .about-subTitle {
        font-size: 270%;
    }
}

.about-par {
    text-align: center;
    margin-bottom: 5vh;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
}

.buildingPic {
    display: block;
    height: auto;
    width: 90%;
    border: 1px solid black;
    margin: auto;
    box-shadow: 2px 2px 5px 0px black;
    border-radius: 5px;
}

@media screen and (max-width: 420px) {
    .buildingPic {
        width: 100%;
    }
}

.employee-par {
    text-align: center;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
}

.nutrition-par {
    text-align: center;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
    margin-bottom: 3vh;
}

@media screen and (max-width: 420px) {
    .about-par,
    .employee-par,
    .nutrition-par {
        font-size: 90%;
    }
}

@media screen and (min-width: 1600px) {
    .about-par,
    .employee-par,
    .nutrition-par {
        font-size: 125%;
    }
}

.Nutrition {
    display: block;
    height: auto;
    margin: auto;
    width: 70%;
}

@media screen and (max-width: 700px) {
    .Nutrition {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .Nutrition {
        width: 100%;
    }
}
/* about page */


/* infant page */
.Infant-Body {
    background-image: linear-gradient(to bottom, #23ff00, #a4df00, #d2bd00, #e69c0e, #e58142);
}

.Infant-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Infant-About {
    text-align: center;
    font-size: 110%;
}

.Infant-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 2px;
}
/* infant page */


/* 2 year old page */
.Age2-Body {
    background-image: linear-gradient(to bottom, #264e8b, #007bc1, #00a7c7, #00cd90, #2ceb12);
}

.Age2-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Age2-About {
    text-align: center;
    font-size: 110%;
}

.Age2-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 2px;
}

.Age2-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 73%;
    border: 1px solid black;
    border-radius: 2px;
}

.list2 {
    margin-top: 7vh;
}
/* 2 year old page */


/* Pre-school page */
.Pre-Body {
    background-image: linear-gradient(to bottom, #d75151, #df446c, #de3d8c, #d144b0, #b454d3);
}

.Pre-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Pre-About {
    text-align: center;
    font-size: 112%;
}

.Pre-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 68%;
    border: 1px solid black;
    border-radius: 2px;
}

.list1 {
    margin-top: 4vh;
}

.Pre-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 75%;
    border: 1px solid black;
    border-radius: 2px;
}

.row2 {
    margin-top: 6vh;
}
/* Pre-school page */


/* Kindergarten */
.Kindergarten-Body {
    background-image: linear-gradient(to bottom, #f0e70b, #ff9f00, #ff3153, #ff00a1, #9712eb);
}

.Kindergarten-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Kindergarten-About {
    text-align: center;
    font-size: 109%;
}

.Kindergarten-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 85%;
    border: 1px solid black;
    border-radius: 2px;
}

.Kindergarten-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 68%;
    border: 1px solid black;
    border-radius: 2px;
}

.list3 {
    margin-top: 7vh;
}
/* Kindergarten */


/* testimonials */
.test-main {
    padding-right: 6vw;
    padding-left: 6vw;
    padding-top: 12vh;
    padding-bottom: 5vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-image: url(./Photos&Fonts/stripes-light.png)
}

.test-title {
    font-size: 250%;
}

@media screen and (min-width: 1600px) {
    .test-title {
        font-size: 270%;
    }
}

@media screen and (max-width: 767px) {
    .test-title {
        text-align: center;
    }
}

.test-quote {
    font-size: 200%;
    margin-right: 1%;
}

.testimonial-left,
.testimonial-right {
    background-color: #a3daec;
    text-align: center;
    padding: 4%;
    border-radius: 12px;
    border: 0.5px solid black;
}

.testimonial-left:hover,
.testimonial-right:hover {
    transform: scale(1.03);
    box-shadow: 2.5px 2.5px 7px 0px black;
}

.left-column {
    margin-top: 6vh;
}
/* testimonials */


/* contact page */
@media screen and (min-width: 1600px) {
    .contact-title {
        font-size: 270%;
    }
}

.formTitle {
    color: #ffffff;
    margin-bottom: 3vh;
    font-size: 2.2vw;
}

@media screen and (max-width: 900px) {
    .formTitle {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 767px) {
    .formTitle {
        font-size: 3.5vw;
    }
}

@media screen and (max-width: 600px) {
    .formTitle {
        font-size: 4vw;
    }
}

@media screen and (max-width: 500px) {
    .formTitle {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 420px) {
    .formTitle {
        font-size: 5vw;
    }
}

.myForm {
    text-align: center;
    background-image: linear-gradient(to bottom, #f06673, #f15866, #f14a58, #f0394b, #ef233c);
    padding: 5vh;
    display: block;
    height: auto;
    margin: auto;
    min-width: 95%;
    border-radius: 10px;
    box-shadow: 2px 2px 9px 0px black;
}

@media screen and (max-width: 520px) {
    .myForm {
        min-width: 100%;
    }
}

.myInput {
    margin-bottom: 2vh;
    display: block;
    width: 70%;
    height: 6vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
}

.messageInput {
    display: block;
    width: 70%;
    height: 20vh;
    margin-bottom: 2vh;
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (max-width: 1000px) {
    .myInput,
    .messageInput {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    .myInput,
    .messageInput {
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .myInput,
    .messageInput {
        width: 100%;
    }
}

.myInput:focus,
.myInput:active,
.messageInput:focus,
.messageInput:active {
    outline: none;
    background-color: #ffffff;
    -webkit-transform: scale(1.015);
    -ms-transform: scale(1.015);
    transform: scale(1.015);
}

.myInput:focus::-webkit-input-placeholder { color:transparent; }
.myInput:focus:-moz-placeholder { color:transparent; }
.myInput:focus::-moz-placeholder { color:transparent; }
.myInput:focus:-ms-input-placeholder { color:transparent; }
.messageInput:focus::-webkit-input-placeholder { color:transparent; }
.messageInput:focus:-moz-placeholder { color:transparent; }
.messageInput:focus::-moz-placeholder { color:transparent; }
.messageInput:focus:-ms-input-placeholder { color:transparent; }

.contact-text {
    color: #252323;
    font-size: 175%;
}

@media screen and (max-width: 767px) {
    .contact-text {
        text-align: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
}

@media screen and (max-width: 420px) {
    .contact-text {
        font-size: 125%;
    }
}

.contact-link {
    color: #252323;
}

.myMap {
    height: 61.5% !important;
    width: 93% !important;
    border: 1px solid black;
    box-shadow: 2px 2px 7px 0px black;
}

@media screen and (min-width: 1700px) {
    .myMap {
        height: 68% !important;
        width: 95% !important;
    }
}

@media screen and (min-width: 1600px) {
    .myMap {
        height: 65% !important;
        width: 95% !important;
    }
}

@media screen and (max-width: 1150px) {
    .myMap {
        height: 57% !important;
        width: 95% !important;
    }
}

@media screen and (max-width: 767px) {
    .myMap {
        height: 150% !important;
        width: 95% !important;
    }
}

@media screen and (max-width: 500px) {
    .myMap {
        height: 130% !important;
        width: 100% !important;
    }
}
/* contact page */


/* buttons */
.contact-column {
    text-align: center;
    margin-bottom: 6vh;
}

.testimonial-button,
.form-button {
    background-color: #ffffff !important;
    color: black !important;
}

.about-button,
.testimonial-button,
.contact-button,
.form-button {
    height: 5vh;
    width: 12vw;
    font-size: 1.3vw;
    background-color: #5606a1;
    color: #fff;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.about-button:hover,
.testimonial-button:hover,
.contact-button:hover,
.form-button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 2px 7px 0px black;
}

.about-button:active,
.about-button:focus,
.testimonial-button:active,
.testimonial-button:focus,
.contact-button:active,
.contact-button:focus,
.form-button:active,
.form-button:focus {
    outline: none !important;
}

@media screen and (max-width: 750px) {
    .about-button,
    .testimonial-button,
    .contact-button,
    .form-button {
        height: 6vh;
        width: 15vw;
        font-size: 1.6vw;
    }
  }

  @media screen and (max-width: 600px) {
    .about-button,
    .testimonial-button,
    .contact-button,
    .form-button {
        height: 5vh;
        width: 18vw;
        font-size: 1.9vw;
    }
  }

  @media screen and (max-width: 420px) {
    .about-button,
    .testimonial-button,
    .contact-button,
    .form-button {
        height: 5vh;
        width: 28vw;
        font-size: 3vw;
    }
  }
  /* buttons */


h1 {
    margin-top: 12vh;
    text-align: center;
    margin-bottom: 4vh;
}

.divider {
    border-bottom: 1px solid gray;
    display: block;
    margin: auto;
    height: auto;
    max-width: 80%;
    margin-top: 4vh;
    margin-bottom: 6vh;
}