
/* navbar styling */
.myNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 3px 1.8px black;
}
/* navbar styling */


/* home page */
.Home-Main {
    padding-top: 4.4%;
}

@media screen and (max-width: 1200px) {
    .Home-Main {
        padding-top: 5.4%;
    }
  }

  @media screen and (max-width: 1080px) {
    .Home-Main {
        padding-top: 5.8%;
    }
  }

  @media screen and (max-width: 1000px) {
    .Home-Main {
        padding-top: 6.4%;
    }
  }

  @media screen and (max-width: 900px) {
    .Home-Main {
        padding-top: 7.4%;
    }
  }

  @media screen and (max-width: 780px) {
    .Home-Main {
        padding-top: 8.4%;
    }
  }

  @media screen and (max-width: 680px) {
    .Home-Main {
        padding-top: 10%;
    }
  }

  @media screen and (max-width: 580px) {
    .Home-Main {
        padding-top: 12%;
    }
  }

  @media screen and (max-width: 480px) {
    .Home-Main {
        padding-top: 14%;
    }
  }

  @media screen and (max-width: 415px) {
    .Home-Main {
        padding-top: 16%;
    }
  }

  @media screen and (max-width: 350px) {
    .Home-Main {
        padding-top: 19%;
    }
  }
  /* home page */


/* carousel styling */
.myCarousel {
    margin: 0% 0.5% 3% 0.5%;
    border: 1px solid black;
}
/* carousel styling */


/* home about section */
.about-title {
    text-align: center;
}

.clock,
.ages,
.sandwich {
    float: left;
    display: block;
    height: auto;
}

.clock {
    max-width: 35%;
}

.ages {
    max-width: 42%;
}

.sandwich {
    max-width: 35%;
}

.about-column {
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.center-column {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

@media screen and (max-width: 390px) {
    .aboutPar {
        font-size: 3.8vw;
    }
  }

  @media screen and (max-width: 340px) {
    .aboutPar {
        margin-left: 38vw;
    }
  }

@media screen and (max-width: 768px) {
    .center-column {
        border: none;
    }
  }
/* home about section */


/* home director section */
.director-title {
    text-align: center;
    margin-bottom: 5vh;
}

.director-photo {
    display: block;
    height: auto;
    margin: auto;
    max-width: 63%;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 7px 0px black;
}

.director-text {
    text-align: center;
    font-size: 108%;
    margin-top: 5vh;
}
/* home director section */


/* parallax */
.myParallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-image: url("./Photos&Fonts/school.png");
    height: auto;
    width: 100%;
    padding: 8vh 6vw 8vh 6vw;
}
/* parallax */


/* home testimonials section */
.testimonial-title {
    text-align: center;
    margin-top: 4vh;
}

.testimonial-column {
    text-align: center;
}
/* testimonial carousel */
.test-container {
    background-color: rgb(70, 93, 122);
    color: white;
    margin-top: 7vh;
    margin-bottom: 9vh;
    padding-bottom: 5vh;
    border-radius: 3px;
}

.myCarousel2 {
    background-color: rgb(55, 75, 99);
    display: block;
    min-height: 40vh;
    max-width: 90%;
    margin: 4vh 5vw 4vh 5vw;
    padding: 3vh 4vw 0vh 4vw;
    border-radius: 12px;
}

.quoteLeft {
    font-size: 1.8vw;
    margin-right: 0.2vw;
}

.quoteRight {
    font-size: 1.8vw;
    margin-left: 0.2vw;
}
/* testimonial carousel */
/* home testimonials section */


/* 2 year old page */
.Age2-Body {
    background-image: linear-gradient(to bottom, #264e8b, #007bc1, #00a7c7, #00cd90, #2ceb12);
}

.Age2-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Age2-About {
    text-align: center;
    font-size: 110%;
}

.Age2-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 70%;
    border: 1px solid black;
    border-radius: 2px;
}

.Age2-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 73%;
    border: 1px solid black;
    border-radius: 2px;
}

.list2 {
    margin-top: 7vh;
}
/* 2 year old page */


/* Pre-school page */
.Pre-Body {
    background-image: linear-gradient(to bottom, #d75151, #df446c, #de3d8c, #d144b0, #b454d3);
}

.Pre-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Pre-About {
    text-align: center;
    font-size: 112%;
}

.Pre-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 68%;
    border: 1px solid black;
    border-radius: 2px;
}

.list1 {
    margin-top: 4vh;
}

.Pre-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 75%;
    border: 1px solid black;
    border-radius: 2px;
}

.row2 {
    margin-top: 6vh;
}
/* Pre-school page */


/* Kindergarten */
.Kindergarten-Body {
    background-image: linear-gradient(to bottom, #f0e70b, #ff9f00, #ff3153, #ff00a1, #9712eb);
}

.Kindergarten-Main {
    background-color: #ffffff;
    margin-right: 5.5%;
    margin-left: 5.5%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.Kindergarten-About {
    text-align: center;
    font-size: 109%;
}

.Kindergarten-Pic1 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 85%;
    border: 1px solid black;
    border-radius: 2px;
}

.Kindergarten-Pic2 {
    display: block;
    margin: auto;
    height: auto;
    max-width: 68%;
    border: 1px solid black;
    border-radius: 2px;
}

.list3 {
    margin-top: 7vh;
}
/* Kindergarten */


/* footer styling */
footer {
    height: 20vh;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 3px 2px black;
    margin-top: 7vh;
}
/* footer styling */


/* buttons */
.contact-column {
    text-align: center;
    margin-bottom: 6vh;
}

.testimonial-button {
    background-color: #ffffff !important;
    color: black !important;
}

.about-button,
.testimonial-button,
.contact-button {
    height: 5vh;
    width: 12vw;
    font-size: 1.3vw;
    background-color: rgb(100, 83, 196);
    color: #fff;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.about-button:hover,
.testimonial-button:hover,
.contact-button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 2px 2px 7px 0px black;
}

.about-button:active,
.about-button:focus,
.testimonial-button:active,
.testimonial-button:focus,
.contact-button:active,
.contact-button:focus {
    outline: none !important;
}

@media screen and (max-width: 750px) {
    .about-button,
    .testimonial-button,
    .contact-button {
        height: 6vh;
        width: 15vw;
        font-size: 1.6vw;
    }
  }

  @media screen and (max-width: 600px) {
    .about-button,
    .testimonial-button,
    .contact-button {
        height: 5vh;
        width: 18vw;
        font-size: 1.9vw;
    }
  }

  @media screen and (max-width: 420px) {
    .about-button,
    .testimonial-button,
    .contact-button {
        height: 5vh;
        width: 28vw;
        font-size: 3vw;
    }
  }
  /* buttons */


h1 {
    margin-top: 12vh;
    text-align: center;
    margin-bottom: 4vh;
}

.divider {
    border-bottom: 1px solid gray;
    display: block;
    margin: auto;
    height: auto;
    max-width: 80%;
    margin-top: 4vh;
    margin-bottom: 6vh;
}